tensorflow==2.15.0
fastapi
uvicorn[standard]
numpy==1.24.4
keras==2.15.0
tensorboard==2.15.1
transformers==4.36.2
torch==2.1.0
torchvision==0.16.0
openai-whisper
deepface==0.0.79
fasttext-wheel
pandas
librosa==0.10.1
matplotlib
scikit-learn
python-multipart
pydub
soundfile
langid
ffmpeg
